body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

button {
  padding: 20px 40px;
  font-size: 24px;
  border: none;
  border-radius: 12px;
  background: #22c55e;
  color: black;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

#resultado {
  margin-top: 20px;
  font-size: 22px;
}
